services:
  web:
    build: .
    command: >
      bash -c "
        until pg_isready -h db -p 5432; do echo 'â³ Waiting for db...'; sleep 2; done &&
        python manage.py collectstatic --noinput &&
        python manage.py migrate &&
        gunicorn config.wsgi:application --bind 0.0.0.0:8000
      "
    env_file:
      - .env
    environment:
      - DEBUG=False
      - DATABASE_HOST=db
    volumes:
      - .:/code
      - static_volume:/code/staticfiles
    expose:
      - "8000"
    depends_on:
      - db
      - redis

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - static_volume:/code/staticfiles
    depends_on:
      - web

  db:
    image: postgres:16
    restart: always
    env_file:
      - .env
    expose:
      - "5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:6
    restart: always
    expose:
      - "6379"

  celery:
    build: .
    command: >
      bash -c "celery -A config worker --loglevel=info --pool=eventlet"
    env_file:
      - .env
    volumes:
      - .:/code
    depends_on:
      - db
      - redis

  celery_beat:
    build: .
    command: >
      bash -c "sleep 10 && celery -A config beat --loglevel=info"
    env_file:
      - .env
    volumes:
      - .:/code
    depends_on:
      - db
      - redis
      - web

volumes:
  postgres_data:
  static_volume:

